<div class="container">
  <div class="pwd-group">
    <input placeholder="Check your password strength"
      [type]="showPassword ? 'text' : 'password'"
      [(ngModel)]="password"
      (ngModelChange)="passwordChanged($event)">
    <img class="icon"
      alt="Show/hide password"
      src="assets/icons/{{ showPassword ? 'hide' : 'show' }}-pwd.svg"
      (click)="changePasswordVisibility()">
  </div>
  <div class="sections">
    <div class="section" style="--color: {{ easySectionColor }}"></div>
    <div class="section" style="--color: {{ mediumSectionColor }}"></div>
    <div class="section" style="--color: {{ strongSectionColor }}"></div>
  </div>
  <div class="result-group">
    <img class="icon"
      src="assets/icons/info-icon.svg"
      alt="Information icon"
      mat-raised-icon
      matTooltip="{{ explanation }}"
      matTooltipPosition="below"
      matTooltipClass="bar-info-tooltip"
      matTooltipShowDelay="100"
      matTooltipHideDelay="100">
    <span>{{ strengthEnum[result] }}</span>
  </div>
</div>